[Unit]
Description=Bootstrap k0s + ArgoCD
Documentation=https://github.com/Oogy/microcloud
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/entrypointd.sh
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target
